alembic==0.9.9
aniso8601==3.0.0
autopep8==1.3.5
bandit==1.4.0
beautifulsoup4==4.6.0
blinker==1.4
click==6.7
coverage==4.5.1
-e git+https://github.com/AdautoNobrega/FC@c5ef09d56210ef3f7e8d8c23c39ce687540c824f#egg=FCamara
flake8==3.5.0
flake8-docstrings==1.3.0
flake8-polyfill==1.0.2
flake8-quotes==1.0.0
flake8-todo==0.7
Flask==1.0.1
Flask-Login==0.4.1
Flask-Migrate==2.1.1
Flask-RESTful==0.3.6
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
Flask-WebTest==0.0.9
gitdb2==2.0.3
GitPython==2.1.9
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
jsonpickle==0.9.6
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
pbr==4.0.2
pluggy==0.6.0
psycopg2==2.7.4
py==1.5.3
pycodestyle==2.3.1
pydocstyle==2.1.1
pyflakes==1.6.0
python-dateutil==2.7.2
python-editor==1.0.3
pytz==2018.4
PyYAML==3.12
six==1.11.0
smmap2==2.0.3
snowballstemmer==1.2.1
SQLAlchemy==1.2.7
stevedore==1.28.0
tox==3.0.0
virtualenv==15.2.0
waitress==1.1.0
WebOb==1.8.1
WebTest==2.0.29
Werkzeug==0.14.1
