<html ng-app="fc">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/minhas-mudancas.css" rel="stylesheet">
    <script src="static/js/lib/jquery.min.js"></script>
    <script src="static/js/lib/bootstrap.min.js"></script>
    <script src="static/js/lib/angular.min.js"></script>
    <script src="static/js/lib/angular-animate.min.js"></script>
    <script src="static/js/lib/angular-route.min.js"></script>
    <script src="static/js/lib/angular-resource.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/controllers/itens-control.js"></script>
    <script src="static/js/controllers/carrinho.js"></script>
    <script src="static/js/controllers/login-control.js"></script>
    <script src="static/js/directives/itens-direct.js"></script>
</head>

<body class="my-body">



    <ng-view></ng-view>


</body>

</html>